/*body {
    overflow: hidden;
}*/

.field {
  pointer-events: none;
}

#headingBar h1 { 
    margin-left: 50px;
    margin-top: 50px;
    font-size : 30pt;
    color : #2f353d;  
}

#headingBar h2 {
    margin-left: 50px;
    margin-top: 0px;
    font-size : 10pt; 
    font-weight: lighter;
    color: #2f353d;
}

#headingBar {
  background-color : #ECECEC;
  font-size : 30pt;
  text-align: center;
  width: 100%; 
  height: 115px;
  margin-top : -88px;
}

#content { 
    width: 100%;
    background-color: #2f353d;
}

.ui.icon.buttons{
  color: red;
  margin-left: 50px;
  margin-right: 30px;
  margin-top: 20px;
}

.ui.button{
  margin-left: 30px;
  margin-right: 50px;
  margin-top: 20px;
}

#apply-button1{
  margin-left: 75px;
  margin-right: 50px;
}

.ui.input{
    margin-left: 10px;
    margin-top: 10px;
}

/* slider */
.slider {
    margin-left: -40px;
    -webkit-appearance: none;
    width: 7%;
    height: 2px;
    border-radius: 5px;   
    background: #E7E7E7;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #E7E7E7;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
}

label
{
  font-size : 10pt;
  display:inline-block;
  margin-left: 10px;
  margin-top: 10px;
  width : 130px;
  float : top;
  color: #E7E7E7;
}

.ui.horizontal.segments{
    margin-left: 50px;
    margin-right: 50px;
}

.main {
  margin-left : 50px;
  margin-top : 10px;
}


#tabs { 
  margin-right: 50px;
}

#vehicle1 {
  position: relative;
  width : 30%;
  height: 30%;
}

#vehicle2a {
  position: relative;
  width : 40%;
  height: 30%;
}

#vehicle2b {
  position: relative;
  width : 40%;
  height: 30%;
}

#vehicle3a {
  position: relative;
  width : 10%;
  height: 30%;
}

#vehicle3b {
  position: relative;
  width : 10%;
  height: 30%;
}

#figures {
  margin-top : 50%;
  display:table; width:100%;
  text-align: center;
}

#horizSeg {
  height : 550px;
}

#rightpart {
  width : 50%;
  background-color : red;
}

#leftpart {
  width : 50%;
}
